<%- include('./src/head') %>
<br><br><br><br><br><br><br>
<div>
  <center>
  <h1 style="color:#ffffff;"> En iyi discord sunucusunu oluştur ve takip et   </h1>
    <p style="color:#BFBFBF; font-size: 21px;"> kullanımı kolay panel ile sunucunu yönet  </p>
    <table>
      <tr>
      <td>
         <button class="btn" onclick="window.location.href = '  ';" ><span style="color:#ffffff;">Discord'a Ekle</span></button>
        </td>
        <td> &nbsp;&nbsp;&nbsp;</td>
        <td>
        <button class="btn2"> Özellikler </button>
        </td>
      </tr>
    </table>
  </center>
</div>



<style>
  
  .btn2{
     
          border: none;
          display: block;
          text-align: center;
          cursor: pointer;
          text-transform: uppercase;
          outline: none;
          overflow: hidden;
          position: relative;
          color: #ffffff;
          font-weight: 700;
          font-size: 15px;
          background-color: #3F4344;
          padding: 8px  25px;
          margin: 0 auto;
          box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  }
  
  .btn2:hover{
    background-color: #1E2224;
  }
  
 .btn {
   color:#AFAFAF;
          border: none;
          display: block;
          text-align: center;
          cursor: pointer;
          text-transform: uppercase;
          outline: none;
          overflow: hidden;
          position: relative;
          color: #fff;
          font-weight: 700;
          font-size: 15px;
          background-color: #55B4E4;
          padding: 8px  25px;
          margin: 0 auto;
          box-shadow: 0 5px 15px rgba(0,0,0,0.20);
        }
        
        .btn span {
          position: relative; 
          z-index: 1;
        }
        
        .btn:after {
       
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          height: 300%;
          width: 140%;
          background: #252A2C;
          -webkit-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
          -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
          transform: translateX(-98%) translateY(-25%) rotate(45deg);
        }
        
        .btn:hover:after {
          color:#AFAFAF;
          -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
          transform: translateX(-9%) translateY(-25%) rotate(45deg);
        }
  
  
  
        
</style>